*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild

TODO
/app/src/main/resources/login.txt
/app/src/main/resources/login_dummy.txt

# To stop tracking changes to login.txt:
# git update-index --assume-unchanged app/src/main/resources/login.txt
